@charset "UTF-8";

body {
    background: rgb(15, 15, 15);
    margin: 0px;
    width: 100%;
    height: 100vh;
}

body::after {
    position: absolute; width:0; height:0; overflow:hidden; z-index:-1; /* hide images */
    content: url(../images/image\ \(1\).jpeg) url(../images/image\ \(2\).jpeg) url(../images/image\ \(3\).jpeg) url(../images/image\ \(4\).jpeg) url(../images/image\ \(5\).jpeg) url(../images/image\ \(6\).jpeg) url(../images/image\ \(7\).jpeg) url(../images/image\ \(8\).jpeg) url(../images/image\ \(9\).jpeg) url(../images/image\ \(10\).jpeg) url(../images/image\ \(11\).jpeg) url(../images/image\ \(12\).jpeg) url(../images/image\ \(13\).jpeg) url(../images/image\ \(14\).jpeg) url(../images/image\ \(15\).jpeg);
    
    content: url(../images/image\ \(1\).jpeg);
    content: url(../images/image\ \(2\).jpeg); 
    content: url(../images/image\ \(3\).jpeg); 
    content: url(../images/image\ \(4\).jpeg); 
    content: url(../images/image\ \(5\).jpeg); 
    content: url(../images/image\ \(6\).jpeg); 
    content: url(../images/image\ \(7\).jpeg); 
    content: url(../images/image\ \(8\).jpeg); 
    content: url(../images/image\ \(9\).jpeg); 
    content: url(../images/image\ \(10\).jpeg); 
    content: url(../images/image\ \(11\).jpeg); 
    content: url(../images/image\ \(12\).jpeg); 
    content: url(../images/image\ \(13\).jpeg); 
    content: url(../images/image\ \(14\).jpeg);
    content: url(../images/image\ \(15\).jpeg);   /* load images */
 }



h1 {
    display: block;
    margin-top: 12vh;
    color:rgb(245, 245, 245);
    text-align: center;
    font: 3em Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;
}


main {
    position: relative;
    max-width: 800px;     
    min-width: 200px;
    height: 400px;
    top: 30%;
    left: 50%;

    transform:translate(-50%, -50%)
}

section {
    position: relative;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    max-width: 800px;     
    min-width: 300px;
    height: 200px;
    margin: 0px 15px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

#msg {
    line-height: 20px; 
    margin-top: 80px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* SLIDE BG */

div#slidebg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;

    animation: slide 200s linear infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
} 



@keyframes slide{
    0%{
        background-image: url(../images/image\ \(1\).jpeg);
    }
    6.25% {
        background-image: url(../images/image\ \(2\).jpeg);
    }
    12.5% {
        background-image: url(../images/image\ \(3\).jpeg);
    }
    18.75%{
        background-image: url(../images/image\ \(4\).jpeg);
    }
    25% {
        background-image: url(../images/image\ \(5\).jpeg);
    }
    31.25% {
        background-image: url(../images/image\ \(6\).jpeg);
    }
    43.75%{
        background-image: url(../images/image\ \(7\).jpeg);
    }
    50% {
        background-image: url(../images/image\ \(8\).jpeg);
    }
    56.25% {
        background-image: url(../images/image\ \(9\).jpeg);
    }
    62.5%{
        background-image: url(../images/image\ \(10\).jpeg);
    }
    68.75% {
        background-image: url(../images/image\ \(11\).jpeg);
    }
    75% {
        background-image: url(../images/image\ \(12\).jpeg);
    }
    81.25%{
        background-image: url(../images/image\ \(13\).jpeg);
    }
    87.5% {
        background-image: url(../images/image\ \(14\).jpeg);
    }
    93.75% {
        background-image: url(../images/image\ \(15\).jpeg);
    }
    100% {
        background-image: url(../images/image\ \(1\).jpeg);
    }
}